<h1>Register</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="centered">
  <div>
    <input class="form-control" type="text" placeholder="Username" formControlName="username" />
  </div>
  <div>
    <input class="form-control" type="text" placeholder="Email" formControlName="email" />
  </div>
  <div>
    <input class="form-control" type="password" placeholder="Password" formControlName="password" />
  </div>
  <div>
    <input class="form-control" placeholder="Password" formControlName="pas" />
  </div>
  <div>
    <button class="btn-primary" type="submit" [disabled]="form.invalid">Sign Up</button>
    <button class="btn-primary" type="button" (click)="form.reset()">Reset</button>
  </div>
  @if (error) {
    <div>
      <div class="invalid-mess">{{ error }}</div>
    </div>
  }
</form>
