<!-- <div *ngIf="authService.currentUserSig() === null">
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</div>
<div *ngIf="authService.currentUserSig()">
  {{ authService.currentUserSig()?.username }}
  <span (click)="logout()">Logout</span>
</div> -->
<div class="split-block nav-top">
  <div>
    <a routerLink="/">Home</a> |
    <a routerLink="messages">Messages</a> |
    <a routerLink="posts">Posts</a>
  </div>
  <div *ngIf="authService.currentUserSig() === null">
    <a routerLink="/login">Login</a> |
    <a routerLink="/register">Register</a> |
  </div>
  <div *ngIf="authService.currentUserSig()">
    {{ authService.currentUserSig()?.username }}
    <button class="btn-primary" (click)="logout()">Logout</button>
  </div>
</div>

<div *ngIf="error">
  <div class="invalid-mess">{{ error }}</div>
</div>
<router-outlet></router-outlet>
